html{
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.log{
    text-align: left;
}
.powerButton{
    text-align: center;
}
div.powerButton{
    text-align: right;
}
div.logControls{
    border-radius: 6px;
    outline: 2px solid white;
    padding: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    box-shadow: inset 1rem 1rem 1px 1px rgba(0, 0, 0, 0.19),1rem 1rem 1px 1px rgba(0, 0, 0, 0.19);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray; 
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 4px;
}
::-webkit-scrollbar-corner {
    display: none;
}

div.log{
    overflow: scroll;

    scrollbar-width: thin;
    scrollbar-color: darkgray rgb(26, 26, 26);

    white-space: nowrap;
    height: 60em;
    border-radius: 4px;
    padding: 0rem;
    padding-top: 0rem;
    box-sizing: border-box;
}
span#commandInput{
    /*height: 24px;*/
    width: 100%;
    display: inline-flex;
    color: white;
    border-radius: 0px;
    border: none;
    background-color: inherit;
    font-size: 16px;
    margin: 0.2rem;
}
#commandText{
    font-size: inherit;
    border: inherit;
    color: inherit;
    background-color: inherit;
    flex-basis: 100%;
}
#commandSendButton{
    font-size: inherit;
    border: inherit ;
    color: inherit;
    background-color: inherit;
    border-left: none;
    right: 0px;
    position: relative;
}
.commandInput{
    border-right: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.main{
    padding: 3em;
    padding-left: 10%;
    padding-right: 10%;
}
#log{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: red;
    padding: 0px;
    margin: 0px;
}
.info{
    color: lightgray;
}
.warning{
    color: yellow;
}
.error{
    color: red;
}